mixin modal()
	+b.modal.remodal(
		data-remodal-id="modal"
		data-remodal-options="closeOnOutsideClick: true, closeOnEscape: true, hashTracking: false"
	)&attributes(attributes)
		+b.container_modal
			+b.modal-form.bg-accent.cl-white.bdrs.ovh.pos-rel.js-modal-form
				+b.btn-close_good(data-remodal-action="close")
				+e.good.js-modal-good
					+e('p').title.fwb Спасибо! Ваша заявка успешно принята.
				+e.fail.js-modal-fail
					+e('p').title_bad.fwb На сервере возникла ошибка, заявка не отправлена. Пожалуйста, заполните форму повторно либо позвоните для консультации на номер 
						| <a href="tel:+74959894049">74959894049</a>
				+e.bg
