mixin modal-form()
	+b.remodal(
		data-remodal-id="modal-form"
		data-remodal-options="closeOnOutsideClick: true, closeOnEscape: true, hashTracking: false"
	)&attributes(attributes)
		+b.container_form.pos-rel
			.row
				+b.modal-form-call
					+b.btn-close_modal-form(data-remodal-action="close")
					+e('p').title.block-title.cl-white Обратная связь
					+e('p').sub-title.sub-title.cl-white Мы свяжемся с вами, проконсультируем по системе обмена файлами и ответим на ваши вопросы
					.row
						+contact-form('', 'callback_form').js-callback-form
