mixin modal-privacy-policy()
	+b.remodal(
		data-remodal-id="modal-privacy-policy"
		data-remodal-options="closeOnOutsideClick: true, closeOnEscape: true, hashTracking: false"
	)&attributes(attributes)
		+b.container_form.pos-rel
			.row
				+b.modal-privacy-policy.pos-rel.bdrs.cl-text.bg-white
					+b.btn-close_modal-privacy-policy(data-remodal-action="close")
					+e('p').title.block-title Политика конфиденциальности

					p 1. Оставляя свои контактные данные: фамилию, имя, отчество, адрес замера/доставки, номер контактного телефона, адрес электронной почты и прочее, Вы соглашаетесь на обработку персональных данных Компанией в целях исполнения Компанией и/или ее партнерами своих обязательств. Указанное согласие предоставляется Вами без временного ограничения.

					p 2. Компания вправе использовать персональные данные в целях:

					ul
						li - регистрации/авторизации Вас на Сайте;
						li - консультирования по интересующим услугам;
						li - обработки заказов для выполнения своих договорных обязательств;
						li - для осуществления деятельности по продвижению товаров и услуг;
						li - оценки и анализа работы Сайта, иных средств продвижения товаров и услуг;
						li - анализа покупательских особенностей и предоставления персональных рекомендаций;
						li - информирования об акциях, скидках и специальных предложениях посредством электронных и СМС-рассылок;
						li - определения победителя в акциях проводимых Компанией.

					p 3. Если вы желаете исправить свои персональные данные (если персональные данные являются неполными, устаревшими, неточными и пр.), блокировать или удалить их, отозвать свое согласие на обработку персональных данных, отписаться от получения сообщений рекламно-информационного характера от Компании, Вам следует направить официальный запрос с соответствующей просьбой на эл. адрес: info@domos-okna.ru.

					p 4. При обработке персональных данных Компания руководствуется Федеральным законом «О персональных данных», Федеральным законом «О рекламе» и локальными нормативными документами.

					p 5. Компания обязуется не передавать полученную персональную информацию третьим лицам. Не считается нарушением предоставление Компанией информации агентам и третьим лицам, действующими с ней на основании договора для исполнения обязательств перед клиентом. Не считается нарушением настоящего пункта передача Компанией третьим лицам данных о клиенте в обезличенной форме в целях оценки и анализа работы Сайта, иных средств продвижения товаров и услуг.

					p 6. Не считается нарушением обязательств передача информации в соответствии с обоснованными и применимыми требованиями законодательства Российской Федерации.

					p 7. Компания вправе использовать технологию «Сookies». «Cookies» не содержат конфиденциальную информацию и не передаются третьим лицам.

					p 8. Компания не несет ответственности за сведения, предоставленные клиентом на Сайте в общедоступной форме.

					p 9. При обработке персональных данных Компания принимает необходимые и достаточные организационные и технические меры для защиты персональных данных от неправомерного доступа к ним, а также от иных неправомерных действий в отношении персональных данных.

					p 10. Под “Компанией” понимается следующее юридическое лицо (компания, партнер):

					p
						| Общество с ограниченной ответственностью "Нужно добавить название" <br />
						| ОГРН: <br />
						| ИНН: <br />
						| КПП: <br />
						| Юридический адрес: Нужно добавить адресс
