mixin modal()
	+b.modal.remodal(
		data-remodal-id="modal"
		data-remodal-options="closeOnOutsideClick: true, closeOnEscape: true, hashTracking: false"
	)&attributes(attributes)
		+b.container_modal
			+b.modal-form.bg-accent.cl-white.bdrs.ovh.pos-rel.js-modal-form
				+b.btn-close_good(data-remodal-action="close")
				+e.good.js-modal-good
					+e('p').title.fwb Спасибо! Ваша заявка успешно принята.
				+e.fail.js-modal-fail
					+e('p').title_bad.fwb Что-то пошло не так, попробуйте позже или напишите нам на email 
						| <a href="mailto:XXX@oblako.intact.ru">XXX@oblako.intact.ru</a> - мы обязательно свяжемся с Вами!
					//- +e('p').sub-title.js-bad-text Ошибка сервера
				+e.bg
