.limitations-tabs
	col()
	size(12)
	size-lg(10)
	&__content
		padding 70px 22px
		border 2px solid colors('border')
		+media-breakpoint-down('md')
			padding 50px 20px
		+media-breakpoint-down('xs')
			padding 30px 20px 30px 15px

.limitations-tabs-header
	display flex
	justify-content center

	&__item
		margin 0 30px
		padding-bottom 23px
		font-size px2rem(24px)
		cursor pointer
		+media-breakpoint-down('md')
			font-size px2rem(20px)
		+media-breakpoint-down('sm')
			margin 0 15px
			font-size px2rem(16px)
		+media-breakpoint-down('xs')
			padding-bottom 15px
		&:after
			position absolute
			right 0
			left 0
			bottom -3px
			height 4px
			content ''
			background-color transparent
			transition background-color $t-time
			^[0..1].is-active^[2..2] // @stylint ignore
				background-color colors('accent')
			^[0..1]:not(.is-active):hover^[2..2] // @stylint ignore
				background-color lighten(colors('accent'), 25%)


.limitations-tab-content
	display flex
	flex-wrap wrap

	&__thesis
		position relative
		padding-left 77px
		max-width 50%
		line-height px2rem(30px)
		flex 1 1 50%
		&:nth-last-child(n+3)
			margin-bottom 39px
		+media-breakpoint-down('md')
			padding-left 30px
		+media-breakpoint-down('sm')
			margin-bottom 20px
			max-width 100%
			flex 1 1 100%
			&:nth-last-child(n+3)
				margin-bottom 20px
			&:last-child
				margin-bottom 0
		+media-breakpoint-down('xs')
			margin-bottom 15px
			padding-left 10px
			font-size px2rem(14px)
			&:last-child
				margin-bottom 0
		&:before
			position absolute
			top 0
			left 58px
			font-size px2rem(20px)
			font-weight 900
			content '-'
			color colors('accent')
			+media-breakpoint-down('md')
				left 10px
			+media-breakpoint-down('sm')
				top 49%
				line-height 0
			+media-breakpoint-down('xs')
				top 47%
				left -3px
