.limitations
	margin-top 124px

	&__wrap-title
		margin-bottom 95px
		col()
		size(12)
		.row
			justify-content center

	&__wrap-tabs
		col()
		size(12)
		.row
			justify-content center

	&__title
		text-align center
		col()
		size(6.6)
