.problems
	margin-top 124px
	&__wrap-title
		margin-bottom 62px
		col()
		size(12)
		.row
			justify-content center
	&__title
		text-align center
		col()
		size(6)

	.banner-leave-request
		margin-top 140px

