mixin reason()
	+b.reason.row&attributes(attributes)
		+e.wrap-title
			.row
				+e('h2').title.block-title Четыре причины иметь собственную систему обмена файлами

		+e.wrap-tag
			+b.reason-tag
				+e('p').num 01
				+e.desc-wrap_monik.bdrs.pos-rel
					+e('p').desc Поддерживаемое ПО корпоративного уровня

			+b.reason-tag
				+e.desc-wrap_comp.bdrs.pos-rel
					+e('p').desc Удобство использования и широкий функционал.
				+e('p').num 02

			+b.reason-tag
				+e('p').num 03
				+e.desc-wrap_home.bdrs.pos-rel
					+e('p').desc Все данные хранятся в периметре компании.

			+b.reason-tag
				+e.desc-wrap_lego.bdrs.pos-rel
					+e('p').desc Возможность кастомизации решения.
				+e('p').num 04
