mixin reason()
	+b.reason.row.justify-center&attributes(attributes)
		+e('h2').title.block-title_reason Четыре причины иметь собственную систему обмена файлами

	.row
		+b.reason__wrap-tag
			+b.reason-tag
				+e('p').num.txt-num 01
				+e.desc-wrap_monik.bdrs.pos-rel
					+e('p').desc Поддерживаемое ПО корпоративного уровня

			+b.reason-tag
				+e.desc-wrap_comp.bdrs.pos-rel
					+e('p').desc Удобство использования и широкий функционал.
				+e('p').num.txt-num 02

			+b.reason-tag
				+e('p').num.txt-num 03
				+e.desc-wrap_home.bdrs.pos-rel
					+e('p').desc Все данные хранятся в периметре компании.

			+b.reason-tag
				+e.desc-wrap_lego.bdrs.pos-rel
					+e('p').desc Возможность кастомизации решения.
				+e('p').num.txt-num 04
