mixin contacts()
	+b.contacts.row.justify-center&attributes(attributes)
		+e('h2').title.block-title_trast-us Контакты

		+b('p').block-title-sub Если у вас остались вопросы, пожалуйста заполните форму

		+contact-form('_main', 'contact_form').js-contact-form
