mixin banner-leave-request()
	+b.banner-leave-request.bg-accent.bdrs&attributes(attributes)
		+e('p').desc.cl-white.fsi
			block
		+e('a').button.btn-hover.bg-secondary-color.tdn.upcs.bdrs(href="javascript:;") Оставить заявку
