mixin banner-leave-request(mod)
	+b.banner-leave-request(
		class="#{mod ? mod : ''}"
	).bg-accent.bdrs&attributes(attributes)
		+e('p').desc.cl-white.fsi
			block
		+e('a').button.btn-hover.bg-secondary-color.tdn.upcs.bdrs(href="javascript:;") Оставить заявку
