.banner-leave-request
	padding 68px 59px
	display flex
	font-size px2rem(24px)
	line-height px2rem(40px)
	background-image url(../images/b-leave-request.png)
	background-repeat no-repeat
	background-position 218px 0
	justify-content space-between
	flex-wrap wrap
	align-items center
	col()
	size(12)

	&__desc
		flex 0 1 500px
	&__button
		max-width 359px
		font-size px2rem(18px)
		flex 0 1 400px
