.banner-leave-request
	padding 68px 59px
	display flex
	font-size px2rem(24px)
	line-height px2rem(40px)
	background-image url(../images/b-leave-request.png)
	background-repeat no-repeat
	background-position 218px 0
	justify-content space-between
	flex-wrap wrap
	align-items center
	col()
	size(12)

	&__desc
		flex 0 1 500px
		~/_stages &
			flex 0 1 600px
	&__button
		max-width 359px
		font-size px2rem(18px)
		flex 0 1 400px


	&_problems
		margin-top 140px
		+media-breakpoint-down('lg')
			margin-top 110px
		+media-breakpoint-down('md')
			margin-top 80px
		+media-breakpoint-down('sm')
			margin-top 30px
		+media-breakpoint-down('xs')
			margin-top 20px
