extends /blocks/layout-default/layout-default
include /blocks/icon/icon

include /blocks/main-block/main-block
include /blocks/problems/problems
include /blocks/banner-leave-request/banner-leave-request
include /blocks/reason/reason
include /blocks/functions/functions
include /blocks/stages/stages
include /blocks/limitations/limitations
include /blocks/trust-us/trust-us
include /blocks/integrator/integrator

block head
	- var pageTitle = 'Intact';

block content
	.remodal-bg.main-wrapper.cl-text
		+main-block
	.remodal-bg.main-wrapper.cl-text
		.container
			//- Проблемы хранения и обмена файлами
			+problems
	.remodal-bg.main-wrapper.cl-text
		.container
			//- Четыре причины иметь собственную систему обмена файлами
			+reason
	.remodal-bg.main-wrapper.cl-text
		.container
			//- Функции системы
			+functions
	.remodal-bg.main-wrapper.cl-text
		.container
			//- Этапы внедрения
			+stages
	.remodal-bg.main-wrapper.cl-text
		.container
			//- Ограничения и системные требования
			+limitations
	.remodal-bg.main-wrapper.cl-text
		.container
			//- нам доверяют
			+trust-us
	.remodal-bg.main-wrapper.cl-text
		.container
			//- INTACT. Правильный интегратор
			+integrator
