extends /blocks/layout-default/layout-default

block head
	- var pageTitle = 'Intact';

block content
	.container
		.row
			.col-12.mt-5
				h1 Общий список
			.col-12.mt-3.index-html
				a.link(href="/lesson-1.html") Lesson 1 <br />
				a.link(href="/lesson-2.html") Lesson 2 <br />
				a.link(href="/carousel.html") Carousel <br />
				a.link(href="/swiper.html") Swiper <br />
				a.link(href="/lesson-4.html") Lesson 4 <br />
