extends /blocks/layout-default/layout-default
include /blocks/main-block/main-block
include /blocks/problems/problems
include /blocks/banner-leave-request/banner-leave-request
include /blocks/reason/reason

block head
	- var pageTitle = 'Intact';

block content
	.remodal-bg.main-wrapper.cl-text
		+main-block
	.remodal-bg.main-wrapper.cl-text
		.container
			+problems
	.remodal-bg.main-wrapper.cl-text
		.container
			+reason
