extends /blocks/layout-default/layout-default
include /blocks/main-block/main-block
include /blocks/problems/problems

block head
	- var pageTitle = 'Intact';

block content
	+main-block
	.container
		+problems
