.container
	wrapper()
	+media-breakpoint-up('sm')
		max-width 520px
		// max-width 570px
	+media-breakpoint-up('md')
		max-width 720px
		// max-width 750px
	+media-breakpoint-up('lg')
		max-width 960px
		// max-width 990px
	+media-breakpoint-up('xl')
		max-width 1170px
		// max-width 1170px

	// @media (min-width: 576px)
	// 	max-width 570px
	// @media (min-width: 768px)
	// 	max-width 750px
	// @media (min-width: 992px)
	// 	max-width 990px
	// @media (min-width: 1200px)
	// 	max-width 1170px

.row
	row-flex()

.col-12
	col()
	// size-xl(12)
	// size-md(12)
	size(12)
	size-md(3)
	size-xl(6)
