html,
body
	font-weight $font-weight-base
	base-font()
	touch-action manipulation

.container
	wrapper()
	+media-breakpoint-up('sm')
		max-width 520px
		// max-width 570px
	+media-breakpoint-up('md')
		max-width 720px
		// max-width 750px
	+media-breakpoint-up('lg')
		max-width 960px
		// max-width 990px
	+media-breakpoint-up('xl')
		max-width 1170px
		// max-width 1170px

.row
	row-flex()

.block-indent
	margin-top 124px
	&_min
		margin-top 115px

.justify-center
	justify-content center

img
	max-width 100%
	height auto

.upcs
	text-transform uppercase

.lwcs
	text-transform lowercase

.tdn
	text-decoration none

.bdrs
	border-radius 4px

.fwb
	font-weight bold
.fsi
	font-style italic

.pos-rel
	position relative

// .btn-primary
.btn-hover
	position relative
	display flex
	width 359px
	height 56px
	font-weight bold
	color colors('white')
	justify-content center
	align-items center
	&:after
		position absolute
		top 0
		right 0
		left 0
		bottom 0
		content ''
		background-color #fff
		border-radius 4px
		opacity 0
		transition opacity $t-time
	&:hover:after
		opacity .15
	&_main
		width 300px

.btn-phone
	display flex
	width 228px
	height 46px
	font-weight bold
	transition border-color $t-time, color $t-time
	justify-content center
	align-items center
	&_menu
		border 2px solid colors('form')
		&:hover
			color colors('white')
			border-color inherit
	&_footer
		border 2px solid colors('accent')
		&:hover
			color lighten(colors('accent'), 25%)
			border-color inherit

.phone-number
	letter-spacing 1px
	transition color $t-time

// .btn-sec:hover
// 	background-color rgba(colors('secondary-color'), .7)
// .btn-primary
// 	background-color rgba(colors('accent'), .7)

	// @media (min-width: 576px)
	// 	max-width 570px
	// @media (min-width: 768px)
	// 	max-width 750px
	// @media (min-width: 992px)
	// 	max-width 990px
	// @media (min-width: 1200px)
	// 	max-width 1170px



// .col-12
// 	col()
// 	// size-xl(12)
// 	// size-md(12)
// 	size(12)
// 	size-md(3)
// 	size-xl(6)


// h1
// 	font-size $font-size-h1