html,
body
	font-weight $font-weight-base
	base-font()
	touch-action manipulation

.container
	wrapper()
	+media-breakpoint-up('sm')
		max-width 520px
		// max-width 570px
	+media-breakpoint-up('md')
		max-width 720px
		// max-width 750px
	+media-breakpoint-up('lg')
		max-width 960px
		// max-width 990px
	+media-breakpoint-up('xl')
		max-width 1170px
		// max-width 1170px

.row
	row-flex()

.block-indent
	margin-top 92px
	padding-top 32px
	+media-breakpoint-down('lg')
		margin-top 70px
		padding-bottom 25px
	+media-breakpoint-down('md')
		margin-top 50px
	+media-breakpoint-down('sm')
		margin-top 30px
	+media-breakpoint-down('xs')
		margin-top 15px
		margin-bottom 10px
		padding-top 15px
		padding-bottom 0

	&_min
		margin-top 83px
		padding-bottom 32px

.justify-center
	justify-content center

img
	max-width 100%
	height auto

.upcs
	text-transform uppercase

.lwcs
	text-transform lowercase

.tdn
	text-decoration none

.bdrs
	border-radius 4px

.fwb
	font-weight bold
.fsi
	font-style italic

.pos-rel
	position relative

// .btn-primary
.btn-hover
	position relative
	display flex
	width 359px
	height 56px
	font-weight bold
	color colors('white')
	justify-content center
	align-items center
	&:after
		position absolute
		top 0
		right 0
		left 0
		bottom 0
		content ''
		background-color #fff
		border-radius 4px
		opacity 0
		transition opacity $t-time
	&:hover:after
		opacity .15
	&_main
		width 300px
		+media-breakpoint-down('sm')
			width 100%
			height 46px

.btn-phone
	display flex
	width 228px
	height 46px
	font-weight bold
	transition border-color $t-time, color $t-time
	justify-content center
	align-items center
	+media-breakpoint-down('sm')
		width 200px
	+media-breakpoint-down('xs')
		width 150px
		height 40px
		font-size px2rem(12px)
		font-weight normal
	&_menu
		border 2px solid colors('form')
		&:hover
			color colors('white')
			border-color inherit
	&_footer
		font-size px2rem(14px)
		border 2px solid colors('accent')
		&:hover
			color lighten(colors('accent'), 25%)
			border-color inherit

.phone-number
	letter-spacing 1px
	transition color $t-time

.bg-mask
	position fixed
	top 72px
	right 0
	left 0
	bottom 0
	pointer-events none
	background-color rgba(colors('black'), .5)
	opacity 0
	transition opacity .27s linear 0s
	+media-breakpoint-down('xs')
		top 66px

body.is-noscroll
	position fixed
	top 0
	overflow hidden
	width 100%
	& .bg-mask
		pointer-events all
		opacity 1




// .btn-sec:hover
// 	background-color rgba(colors('secondary-color'), .7)
// .btn-primary
// 	background-color rgba(colors('accent'), .7)

	// @media (min-width: 576px)
	// 	max-width 570px
	// @media (min-width: 768px)
	// 	max-width 750px
	// @media (min-width: 992px)
	// 	max-width 990px
	// @media (min-width: 1200px)
	// 	max-width 1170px



// .col-12
// 	col()
// 	// size-xl(12)
// 	// size-md(12)
// 	size(12)
// 	size-md(3)
// 	size-xl(6)


// h1
// 	font-size $font-size-h1