mixin integrator()
	+b.integrator.row.justify-center&attributes(attributes)
		+e('h2').title.block-title_trast-us INTACT. Правильный интегратор

		+b('p').block-title-sub_integrator Компания INTACT - системный интегратор, обладающий большим опытом в построении ИТ-инфраструктур и внедрении <span>бизнес-приложений.</span>

		+b.integ-banner.bdrs
			.row
				+e.desc
					+e('p').d-txt Наш бизнес начался в 2010 году с реализации проектов по построению телекоммуникационных инфраструктур. Сегодня мы реализуем сложные комплексные проекты для средних и крупных компаний из разных отраслей экономики.

					+e('p').d-txt Компания INTACT предлагет полный спектр услуг от проектирования и внедрения решений до сервисной поддежки и обучения специалистов Клиента. В основе бизнеса компании — быстрая реакция, гибкие условия сотрудничества, возможность выбора наилучшего решения из ряда альтернатив.
				+e.img.fsi
					+e('p').i-txt «В работе ориентированной на людей, есть только один ключ к успеху — доверие»
					+e('p').i-name.fwb Плутарх
