.integ-banner
	col()
	display flex
	border 2px solid colors('border')
	&__desc
		margin-right 15px
		padding 59px 27px 68px 47px
		col()
		size(6)
	&__d-txt
		line-height px2rem(34px)
		&:nth-last-child(n+2)
			margin-bottom 39px
	&__img
		margin-left 15px
		padding 0 100px
		display flex
		flex-direction column
		background-image url(../images/integ-img.jpg)
		justify-content center
		align-items center
		col()
		size(6)
	&__i-txt
	&__i-name
		font-size px2rem(24px)
		line-height px2rem(40px)
	&__i-txt
		margin-top 39px
		margin-bottom 19px
	&__i-name
		align-self flex-end
