.main-block
	display flex
	flex-direction column
	min-height 100vh
	+media-breakpoint-down('sm')
		overflow hidden
		height 100vh
		min-height 1px
		max-height 480px
		flex 1 1 480px
	+media-breakpoint-down('xs')
		height 100vh
		min-height inherit
		max-height 520px

.top-line
	padding 30px 0
	display grid
	grid-template-columns minmax(152px, 1fr) minmax(1px, 1158px) minmax(190px, 1fr)
	+media-breakpoint-down('lg')
		display none
	&__logo
		margin-right 26%
		min-width 92px
		font-size 0
		justify-self end
		+media-breakpoint-up('xxl')
			margin-right 98px

	&__phone
		margin-left 11%
		white-space nowrap
		align-self center
		justify-self start
		@media (min-width: 1920px)
			margin-left 35px
		&:hover
			color colors('form')

.top-line-tablet
	padding 21px 0
	display none
	+media-breakpoint-only('lg')
		display block
	+media-breakpoint-only('md')
		display block
	&__logo
		font-size 0
		col()
		size(2)
	&__wrap-menu-phone
		display flex
		flex-direction column
		col()
		size(10)
		justify-content space-around

.top-line-mobile
	padding 12px 0
	display none
	+media-breakpoint-down('sm')
		display block
	.container
		display flex
		justify-content space-between
		align-items center
	&__logo
		display flex
		align-items center

.phones-mob-line
	display flex
	font-size px2rem(14px)
	justify-content flex-end
	align-items center
	&__item
		+media-breakpoint-only('sm')
			margin-right 10px
	&__phone
		display none
		+media-breakpoint-only('sm')
			margin-left 10px
			display block



.tl-border
	border-bottom 2px solid rgba(colors('white'), 10%)

.tl-tablet-phones
	display flex
	align-items center
	justify-content flex-end
	&__item
		margin-right 50px


.container
	&_header
		margin-top auto
		margin-bottom auto
		width 100%
		+media-breakpoint-down('sm')
			display flex
			flex-direction column
			flex-grow 1
			.row
				flex-direction column
				flex-grow 1

.spreader
	display flex
	min-height 95px
	flex 1 1 auto
	+media-breakpoint-down('xl')
		min-height 70px
	+media-breakpoint-down('md')
		min-height 40px
	+media-breakpoint-down('sm')
		min-height 25px
		max-height 25px
	&_top
		+media-breakpoint-down('xs')
			min-height 50px

.header-content
	z-index 2
	col()
	size-xl(6)
	size-md(8)
	size(12)
	+media-breakpoint-down('sm')
		display flex
		font-size px2rem(16px)
		flex-grow 1

	&__text
		display flex
		flex-direction column
		flex-grow 1
		justify-content space-between

	&__main-title
		margin-bottom 46px
		font-size $font-size-h1
		font-weight bold
		line-height px2rem(90px)
		+media-breakpoint-down('lg')
			margin-bottom 40px
			font-size px2rem(55px)
			line-height px2rem(70px)
		+media-breakpoint-down('md')
			margin-bottom 50px
			font-size px2rem(45px)
			line-height px2rem(60px)
		+media-breakpoint-down('sm')
			margin-top auto
			margin-bottom 30px
			font-size px2rem(30px)
			line-height px2rem(40px)
		+media-breakpoint-down('xs')
			margin-top 10px
			margin-bottom auto
			font-size px2rem(26px)
			line-height px2rem(35px)
	&__desc
		margin-bottom 70px
		padding-right 90px
		font-size px2rem(16px)
		line-height px2rem(36px)
		+media-breakpoint-down('md')
			margin-bottom 45px
		+media-breakpoint-down('sm')
			margin-bottom auto
			padding-right 0
			line-height px2rem(28px)
		+media-breakpoint-down('xs')
			margin-top 30px
	&__button
		margin-bottom 36px
		+media-breakpoint-down('md')
			margin-bottom 20px
		+media-breakpoint-down('sm')
			margin-top 35px

.header-img
	position relative
	col()
	size-xl(6)
	size-md(4)
	size(12)

.main-block-arrow
	position absolute
	bottom 52px
	cursor pointer
	transition stroke $t-time
	svgSize(17px 58px)
	fill none
	stroke colors('white')
	stroke-miterlimit 10
	stroke-width 2px
	&:hover
		stroke colors('form')
	+media-breakpoint-down('sm')
		display none
