.main-block
	display flex
	flex-direction column
	min-height 100vh

.top-line
	padding 30px 0
	display grid
	grid-template-columns minmax(152px, 1fr) minmax(1px, 1158px) minmax(190px, 1fr)
	+media-breakpoint-down('lg')
		display none
	&__logo
		margin-right 26%
		min-width 92px
		font-size 0
		justify-self end
		+media-breakpoint-up('xxl')
			margin-right 98px

	&__phone
		margin-left 11%
		white-space nowrap
		align-self center
		justify-self start
		@media (min-width: 1920px)
			margin-left 35px
		&:hover
			color colors('form')

.top-line-tablet
	padding 21px 0
	display none
	+media-breakpoint-only('lg')
		display block
	+media-breakpoint-only('md')
		display block
	&__logo
		font-size 0
		col()
		size(2)
	&__wrap-menu-phone
		display flex
		flex-direction column
		col()
		size(10)
		justify-content space-around

.top-line-mobile
	padding 12px 0
	display none
	+media-breakpoint-down('sm')
		display block
	.container
		display flex
		justify-content space-between
		align-items center
	&__logo
		display flex
		align-items center

.phones-mob-line
	display flex
	font-size px2rem(14px)
	justify-content flex-end
	align-items center
	&__item
		+media-breakpoint-only('sm')
			margin-right 10px
	&__phone
		display none
		+media-breakpoint-only('sm')
			margin-left 10px
			display block



.tl-border
	border-bottom 2px solid rgba(colors('white'), 10%)

.tl-tablet-phones
	display flex
	align-items center
	justify-content flex-end
	&__item
		margin-right 50px


.spreader
	display flex
	min-height 95px
	flex 1 1 auto

.container
	&_header
		margin-top auto
		margin-bottom auto
		width 100%

.header-content
	col()
	size-xl(6)

	&__main-title
		margin-bottom 46px
		font-size $font-size-h1
		font-weight bold
		line-height px2rem(90px)
	&__desc
		margin-bottom 70px
		padding-right 90px
		font-size px2rem(16px)
		line-height px2rem(36px)
	&__button
		margin-bottom 36px

.header-img
	position relative
	col()
	size-xl(6)

.main-block-arrow
	position absolute
	bottom 52px
	cursor pointer
	transition stroke $t-time
	svgSize(17px 58px)
	fill none
	stroke colors('white')
	stroke-miterlimit 10
	stroke-width 2px
	&:hover
		stroke colors('form')
