.menu-mobile
	position fixed
	z-index 4
	top 72px
	right 0
	left 0
	bottom 0
	display none
	width 100%
	transition transform $t-time
	transform translateX(100%)
	.is-menu-open &
		transform translateX(0)
	+media-breakpoint-down('sm')
		display block
	+media-breakpoint-down('xs')
		top 66px

	.row
		justify-content flex-end
		height 100%

.wrap-menu-mob
	height 100%
	col()
	size(12)
	size-sm(8)
	&:after
		position absolute
		top 0
		left 100%
		bottom 0
		width 100%
		content ''
		background-color colors('accent')
	&:before
		position absolute
		top 0
		bottom 0
		width 100%
		content none
		background-color colors('accent')
		+media-breakpoint-down('xs')
			left -15px
			content ''

.menu-mobile-list
	position absolute
	top 0
	right 0
	left 0
	bottom 0
	overflow-x hidden
	overflow-y auto
	background-color colors('accent')

	&__item
		margin-top 20px
		text-align right
		&:last-child
			margin-bottom 30px
		+media-breakpoint-down('xs')
			text-align center