.menu
	display flex
	font-size px2rem(14px)
	justify-content space-between
	align-items center
	&__item
		color inherit
		transition border-color $t-time, color $t-time
		&:hover
			color colors('white')
			border-color inherit

		&_btn
			display flex
			width 228px
			height 46px
			font-weight bold
			border 2px solid colors('form')
			justify-content center
			align-items center
