.stages-cards
	margin-bottom 140px
	&:after
		position absolute
		top calc(100%)
		left calc(50% - 2px)
		width 2px
		height 140px
		content ''
		background-color colors('border')

.result-implem
	margin-bottom 99px
