mixin functions()
	+b.functions.row.justify-center&attributes(attributes)
		+e('h2').title.block-title Функции системы

	.row
		+b.functions-tabs.bdrs.js-finctions-tabs
			+e.header
				+b.functions-tabs-item.js-finctions-tabs-item.is-active(data-tab-id="1")
					+e.wrap-icon
						+icon('integration').icon_integ
					+e('p').txt Корпоративные функции (интеграция с почтой, с Active Directory)
				+b.functions-tabs-item.js-finctions-tabs-item(data-tab-id="2")
					+e.wrap-icon
						+icon('loop').icon_loop
					+e('p').txt Синхронизация папок с компьютером
				+b.functions-tabs-item.js-finctions-tabs-item(data-tab-id="3")
					+e.wrap-icon
						+icon('infin').icon_infin
					+e('p').txt Создание временных ссылок на папки и файлы
				+b.functions-tabs-item.js-finctions-tabs-item(data-tab-id="4")
					+e.wrap-icon
						+icon('mob').icon_mob
					+e('p').txt Кастомизация
				+b.functions-tabs-item.js-finctions-tabs-item(data-tab-id="5")
					+e.wrap-icon
						+icon('settings').icon_set
					+e('p').txt Мобильное приложение

			+e.content.bg-form
				- var i = 0;
				while i++ < 5
					+b.functions-content-item(
						class="_#{i} #{i === 1 ? ' is-active' : ''}" data-con-id="#{i}"
					).js-functions-content-item
