mixin footer()
	+b.footer&attributes(attributes)
		.container
			.row
				+b.footer-logo-data
					+e.wrap-logo
						+e('img').logo(src="assets/images/intact-logo-black.png" alt="логотип intact")
					+e.data
						p © 2016-2020 
						p ООО «Интакт»
					+b('a').keyba-log_first.pos-rel(href="https://keyba.ru/" target="_blank")
						img(src="assets/images/keyba.png" alt="Агентство интернет-маркетинга Кейба")
				+b.footer-phone
					+b('a').btn-phone_footer.tdn.upcs.bdrs.cl-accent(data-remodal-target="modal-form" href="javascript:;") Вам перезвонить?
					+b('a').footer-number.phone-number.tdn.upcs.cl-text.fwb(href="tel:+74959894049") +7 495 989 40 49
					+b('a').keyba-log_last.pos-rel(href="https://keyba.ru/" target="_blank")
						img(src="assets/images/keyba.png" alt="Агентство интернет-маркетинга Кейба")
