.footer
	margin-top 140px
	padding 40px 0
	border-top 2px solid colors('border')
	.row
		justify-content space-between

.footer-logo-data
	display flex
	align-items center
	col()
	size(6)
	&__data
		margin-left 100px
		font-size px2rem(14px)
		line-height px2rem(24px)

.footer-phone
	display flex
	align-items center
	col()
	size(6)
	justify-content flex-end

.footer-number
	margin-left 40px
